body {
    font-family: monospace;
    color: #666;
    padding: 0;
}
#title {
    text-align: center;
    margin: 1em;
    font-size: large;
    color: brown;
}
#board {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 840px;
    height: 840px;
    border: 1px solid grey;
}
#fields {
    margin: 20px;
    padding: 4px 0 0 4px;
    border: 1px solid grey;
}
.field {
    width: 96px;
    height: 96px;
    padding: 0px;
    margin: 0 2px 0 1px;
    display: inline-block;
    position: relative;
}
.field.light {
    background-color: bisque;
}
.field.dark {
    background-color: chocolate;
}
.field.light:hover, .field.dark:hover {
    cursor: pointer;
}
.field.light.selected, .field.dark.selected {
    background-color: forestgreen;
}
.field.light.failed, .field.dark.failed {
    background-color: red;
}
.field.light.check, .field.dark.check {
    background-color: gold;
}
#labels-top {
    position: relative;
    width: auto;
    height: 0;
    left: 20px;
    top: -840px;
}
#labels-bottom {
    position: relative;
    width: auto;
    height: 0;
    left: 20px;
    top: -15px;
}
#labels-left {
    position: relative;
    width: 0;
    height: 0;
    left: 2px;
    top: -780px;
}
#labels-right {
    position: relative;
    width: 0;
    height: 0;
    left: 830px;
    top: -780px;
}
span.horizontal {
    display: inline-block;
    width: 100px;
    height: auto;
    text-align: center;
}
span.vertical {
    display: block;
    width: 10px;
    height: 100px;
}
#figures {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: -390px;
    top: -820px;
    width: 0px;
    height: 0px;
}
.figure {
    position: absolute;
    width: 80px;
    height: 80px;
}
.figure:hover {
    cursor: pointer;
}
#actions {
    text-align: center;
    margin-top: 1em;
}
#step-id {
    margin-top: 5px;
    font-weight: bold;
}
#tools {
    position: absolute;
    right: 100px;
    top: 82px;
    width: 300px;
    height: 590px;
    padding: 1em;
    text-align: center;
    border: 1px solid grey;
    background-color: white;
    display: block;
}
#move {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
#move.white {
    background-color: white;
}
#move.black {
    background-color: black;
}
#params {
    padding: 1em 0;
    font-size: large;
    font-weight: bold;
}
#params span {
    display: inline-block;
    width: 25px;
}
#new, #open, #send, #reset, #stop, #undo, #edit, #delete {
    width: 65px;
    margin: 5px 0;
}
#games {
    margin-top: 2em;
    border: 1px solid grey;
    width: 300px;
    height: 447px;
    overflow-y: scroll;
}
#games div {
    margin: 5px;
    padding: 2px;
    border: 1px dotted grey;
}
#games div:hover {
    background-color: bisque;
    cursor: pointer;
}
#games div.selected {
    background-color: coral;
}
#games a {
    text-decoration: none;
}
#games div.selected a {
    color: yellow;
}
#games div.selected span {
    color: yellow;
}
#msg {
    text-align: center;
    color: darkgreen;
    margin-top: 2em;
}
#user {
    display: none;
    position: absolute;
    right: 0px;
    top: 670px;
    width: 300px;
    height: 110px;
    border: 1px solid grey;
    padding: 1em;
    text-align: left;
    background-color: white;
}
#user span {
    display: block;
    width: 50px;
}
#user input {
    width: 290px;
}
#user div {
    text-align: right;
    margin: 2px;
}
#user button {
    width: 80px;
    margin: 1em 0 0 0;
}
#games span {
    display: inline-block;
    width: 20px;
    padding: 0 1em;
    text-align: right;
}
#games span.lp {
    color: brown;
}
#games span.val {
    color: grey;
}